@if(isLoaded){
<div class="section">
  <h1 class="main-title">Les Vinyles</h1>
  <div class="mt-8 w-full flex gap-4 items-center justify-between">
    <app-search-input [(value)]="searchValue" class="flex-1" />
    <app-drop-down-button [buttonLabel]="'Trier par'" [options]="sortOptions" />
  </div>
  <div class="product-grid">
    @for(p of products | searchFilter: searchValue | productFilter:sortOrder |
    paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; track
    p.id) {
    <app-product-card [product]="p" />
    }
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="products.length"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
} @else {
<div class="absolute top-0 h-screen w-screen flex items-center justify-center">
  <span class="loader"></span>
</div>
}
